.header {
  background-color: black;
  color: white;
  text-align: center;
  height: 15vh;
  padding: 0;
  margin: 0;
}

.header p {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  padding: 2vh;
}